# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars.json
.terraform.lock.hcl
crash.log
override.tf
*.tfvars
*.tfvars.json

# Go
backend/bootstrap
backend/lambda.zip

# Node.js
node_modules/
.next/
.env.local

notes/
